@model dynamic
@{
    ViewData["Title"] = "E-Ticaret";
}

<div class="container py-4 mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="carouselAds" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselAds" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselAds" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselAds" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/images/reklam1.jpg" class="d-block w-100" alt="Kapmanya">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/reklam2.jpg" class="d-block w-100" alt="Kapmanya">
                        </div>
                        <div class="carousel-item">
                            <img src="~/images/reklam4.jpg" class="d-block w-100" alt="Kapmanya">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAds" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Önceki</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselAds" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Sonraki</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-4">
                <img class="brandLogo" src="~/images/logo.png" alt="Brand Logo">
                <h5 class="text-center font-weight-bold">E-TİCARET</h5>
            </div>
        </div>
        <div class="my-3 row">
            <div class="d-flex justify-content-center product mx-2 py-2 col-sm">
                <img class="randomProduct" src="~/images/products/product@(ViewBag.Rnd1).jpg" alt="">
            </div>
            <div class="d-flex justify-content-center product mx-2 py-2 col-sm">
                <img class="randomProduct" src="~/images/products/product@(ViewBag.Rnd2).jpg" alt="">
            </div>
            <div class="d-flex justify-content-center product mx-2 py-2 col-sm">
                <img class="productOfDay" src="~/images/products/@(ViewBag.CurrentDate).jpg" alt="Günün Ürünü">
            </div>
        </div>
    </div>
    <div id="slider" class="me-2 mb-2 carousel slide">
        <div id="carouselProduct" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselProduct" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselProduct" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselProduct" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/images/indirimli1.jpg" class="d-block w-100" alt="İndirimli Ürün">
                </div>
                <div class="carousel-item">
                    <img src="~/images/indirimli2.jpg" class="d-block w-100" alt="İndirimli Ürün">
                </div>
                <div class="carousel-item">
                    <img src="~/images/indirimli3.jpg" class="d-block w-100" alt="İndirimli Ürün">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselProduct" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselProduct" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6LeeiIMhAAAAADJ86tvJTG4ygwf2HSvNKfXhy7sv"></script>
<script>
    function onClick(e) {
        e.preventDefault();
        grecaptcha.ready(function () {
            grecaptcha.execute('6LeeiIMhAAAAADJ86tvJTG4ygwf2HSvNKfXhy7sv', { action: 'submit' }).then(function (token) {
                // Add your logic to submit to your backend server here.x
            });
        });
    }
</script>