<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <li class="header">HEADER</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="nav-item"><a asp-controller="admin" asp-action="kategoriler" class="nav-link"><i class="fa fa-link"></i> <p>Kategoriler</p></a></li>
    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-link"></i> <p>Another Link</p></a></li>
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item"><a href="#" class="nav-link">Link in level 2</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Link in level 2</a></li>
        </ul>
    </li>
</ul>