@model Urunler
@{
    Layout = "_AdminLayout";
    object getMenuId = Context.Request.RouteValues["id"];
    int menuId = Convert.ToInt32(getMenuId);
    string title = Model.UrunAdi;
    ViewData["Title"] = "Ürün Düzenle - " + title;
}
<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<script src="~/plugins/ckeditor/ckeditor.js"></script>
<div class="container">
    <form method="post" enctype="multipart/form-data" asp-action="UrunDuzenle">
        <input asp-for="UrunID" hidden />
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Ürün Düzenle</h2>
                <hr />
            </div>
            @*<div asp-validation-summary="All"></div>*@
            <div class="row g-2" id="urunEklemeFormu">
                <div class="mb-3 form-floating col-md">
                    <input asp-for="UrunAdi" class="form-control" id="urunAdi" placeholder="Ürün adını girin">
                    <label for="urunAdi">Ürün adını girin</label>
                    <span asp-validation-for="UrunAdi" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating col-md">
                    <input asp-for="UrunKategorisi" class="form-control" id="kategori" placeholder="Kategori seçin">
                    <label for="kategori">Kategori seçin</label>
                    <span asp-validation-for="UrunKategorisi" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating col-md">
                    <input asp-for="UrunFiyati" class="form-control" id="fiyat" placeholder="Fiyat girin">
                    <label for="fiyat">Satış fiyatı</label>
                    <span asp-validation-for="UrunFiyati" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating col-md">
                    <input asp-for="GelisFiyati" class="form-control" id="gelisFiyati" placeholder="Geliş fiyatını girin">
                    <label for="gelisFiyati">Geliş fiyat girin</label>
                    <span asp-validation-for="GelisFiyati" class="text-danger"></span>
                </div>
                <div class="mb-3 form-floating col-md">
                    <input asp-for="Indirim" class="form-control" id="stok" placeholder="Stok adedi girin">
                    <label for="stok">İndirimli fiyat girin</label>
                </div>
                <div class="row g-2">
                    <div class="mb-3 form-floating col-md">
                        <select asp-for="RenkSecenekleri" id="demo" multiple aria-label="Default select example" data-live-search="true" style="width: 100%">
                            <option value="1">Siyah</option>
                            <option value="2">Beyaz</option>
                            <option value="3">Kırmızı</option>
                            <option value="4">Sarı</option>
                            <option value="5">Mavi</option>
                            <option value="6">Çok Renkli</option>
                        </select>
                    </div>
                    <div class="mb-3 form-floating col-md">
                        <select asp-for="TedarikciID" id="tedarikci" aria-label="Default select example" data-live-search="true" style="width: 100%">
                            <option value="1">a</option>
                            <option value="2">b</option>
                            <option value="3">c</option>
                            <option value="4">d</option>
                            <option value="5">e</option>
                            <option value="6">f</option>
                        </select>
                        <span asp-validation-for="TedarikciID" class="text-danger">Tedarikçi seçin</span>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="mb-3 form-floating col-md">
                        <input asp-for="StokDurumu" class="form-control" id="stok" placeholder="Stok adedi girin">
                        <label for="stok">Stok adedi girin</label>
                        <span asp-validation-for="StokDurumu" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-floating col-md">
                        <input asp-for="SKU" class="form-control" id="sku" placeholder="Ürün kodunu girin">
                        <label for="sku">Ürün kodunu girin</label>
                        <span asp-validation-for="SKU" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-floating">
                        <textarea class="ckeditor" id="editor1" name="UrunAciklamasi" asp-for="UrunAciklamasi"></textarea>
                        <span asp-validation-for="UrunAciklamasi" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-floating col-md">
                        <label asp-for="Gorsel" class="control-label"></label>
                        <div class="custom-file">
                            <label class="custom-file-label" for="formFile">Dosya seç</label>
                            <input asp-for="Gorsel" class="custom-file-input form-control" type="file" id="formFile">
                            <input asp-for="GorselURL" type="hidden" value="@Model.GorselURL"/>
                        </div>
                        <span asp-validation-for="Gorsel" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-floating col-md">
                        <a href="#" id="pop" class="btn btn-info">
                            <img id="imageresource" src="~/@Model.GorselURL" style="width: 0px; height: 0px;">
                            Click to Enlarge
                        </a>
                        <img src="" class="adminUrunGorseli" />
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Kaydet</button>
            <a asp-controller="urun" asp-action="urunsil" asp-route-id="@Model.UrunID" class="btn btn-danger" style="width:150px">Sil</a>
            <a asp-controller="urun" asp-action="index" class="btn btn-secondary" style="width:150px">
                Geri Dön
            </a>
        </div>
    </form>
</div>



<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Image preview</h4>
            </div>
            <div class="modal-body">
                <img src="" id="imagepreview" style="width: 400px; height: 264px;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $("button[role=combobox]").addClass("btn-dark");
        }, 100);
    });
    $(function () {
        $('select').selectpicker();
    });

    // Dosya elendiğinde dosya adını gösterir
    $('#formFile').on("change", function () {
        var i = $(this).prev('label').clone();
        var file = $('#formFile')[0].files[0].name;
        $(this).prev('label').text(file);

    });
    $(function () {
        $('.pop').on('click', function () {
            $('.imagepreview').attr('src', $(this).find('img').attr('src'));
            $('#imagemodal').modal('show');
        });
    });
</script>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}