@model Musteri
@{
    Layout = null;
}

@ViewBag.Message

<form method="post">
    <div>
        <input asp-for="Eposta" />
    </div>
    <div>
        <input asp-for="Sifre" />
    </div>
    <input type="submit" id="btnSubmit" class="btn btn-primary" value="Giriş Yap" />
</form>
<partial name="_Notification" />
<p>@ViewData["token1"]</p>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
	}