@model dynamic
@{
    object getMenuId = Context.Request.RouteValues["id"];
    object getDropdownId = Context.Request.RouteValues["dropdownId"];
    int menuId = Convert.ToInt32(getMenuId);
    int dropdownId = Convert.ToInt32(getDropdownId);

    foreach (Menu menuName in Model.Menu)
    {
        if (menuName.MenuId == menuId)
        {
            ViewData["Title"] = menuName.MenuName;

        }
    }
}

@*<p>Menu Id: @Context.Request.RouteValues["id"]</p>
<p>Alt Menu Id: @Context.Request.RouteValues["dropdownId"]</p>*@

@if (Model != null)
{
    @foreach (Menu item in Model.Menu)
    {

        @if (item.MenuId == menuId)
        {
            <h1 class="display-1">@item.MenuName</h1>
            <h2 class="display-4">Alt Menüler</h2>
            @foreach (AltMenu altMenu in Model.AltMenu)
            {
                @if (item.MenuId == altMenu.AnaMenuId)
                {
                    <p>@altMenu.AltMenuName</p>
                }
            }
        }

    }
}
